.main-container {
  background-image: url("../assets/images/background-main.webp");
  background-size: cover;
  background-position: center -350px;
  display: flex;
  width: 100%;
  background-color: $main-bg-color;
  border-radius: $radius;
  box-shadow: $box-shadow;
  margin: $padding;
  overflow: hidden;
}

.content {
  width: 100%;
  padding: $padding;
  display: grid;
  align-items: end;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;

  h2 {
    color: $white-faded;
    text-shadow: $text-shadow;
  }
}
