.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-heading {
    h2 {
      font-size: 60px;
      line-height: 3.6rem;
    }
  }
}
.content-logo {
  font-weight: 300;
  font-size: 17px;
  line-height: 1;
}
